body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 200px;
}

.card {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e2eafc;
    color: #2b2839;
    border-bottom: 6px solid #113d61;
    border-radius:5px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.details {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.social-media-btn {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-between;
}

.social-media-btn img {
    width: 50px;
}

